@(sistema: SistemaDePlanejamentoDeCurso, taskForm: Form[SistemaDePlanejamentoDeCurso], taskFormTeste: Form[Teste])

@import helper._

@main("Curso de Ciência da Computação") {
	
	
<div class="wrapper" style="height: 100%;">
	<div class="titulo">
		<nome-principal>Meu Curso</nome-principal>
		<br>
		<br>
		<nome> Periodo Atual</nome>
		<br>
	</div>
	<br/>
		
	<div id="colunas">
		@for(disciplina <- sistema.getDisciplinasDoPeriodoAtual()){
			<div id="c1" class="coluna">
			<div class="disciplina">
					<nome>@disciplina.getNome() </nome>
					<descricao> ---- @disciplina.getNumeroDeCreditos() creditos</descricao>
			</div>
			</div>
		}
		<br>
		<nome> Total de créditos: @sistema.numeroDeCreditosDoPeriodoAtual()</nome>
	
		<div id="c2" class="coluna"></div>
		<div id="c3" class="coluna"></div>
		<div id="c4" class="coluna"></div>
		<div id="c5" class="coluna"></div>
		<div id="c6" class="coluna"></div>
		<div id="c7" class="coluna"></div>
		<div id="c8" class="coluna"></div>
	</div>
	
	<br>
	<div id="alocarDisciplina">
	@if(sistema.getPeriodos().indexOf(sistema.getPeriodoAtual()) != 0) {
		@form(routes.Application.adicionaDisciplinaNoPeriodoAtual()){
			<nome> Alocar Disciplina ao período atual</nome>
			<br>
			@inputText(taskFormTeste("teste"), '_label -> "Digite a prioridade:")
			<input type="submit" value="alocar disciplina"> 
		}
		@if(sistema.getMinimoCreditosDoPeriodoAtual()) {
		<br>
		<nome> Mínimo de creditos não atingido</nome>
		<br>
		}
	
		@if(sistema.getMaximoCreditosDoPeriodoAtual()) {
			<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">alert ("Máximo de Creditos atingido")</SCRIPT>
		}
	}
	</div>
	<br>
	<br>
	
	<div id="addperiodos">
	@form(routes.Application.novoPeriodo()) {
       <input type="submit" value="Adicionar periodo">
    }
    </div>

	<br>
	<br>
	<right>
	<div id="gradeCurricular">
	<table class="tabela" style="float:left;">
            <tr style="background-color: transparent;">
                    <th style="border:none;font-size: 20px;"> 
                            Grade Curricular Do Curso 
                    </th>
            </tr>
                   <tr style="background-color: #8B8B7A;">
                       <th >Disciplina</td>
                       <th >Creditos</td>
                       <th >Requisitos</td>
               </tr>
        @for(disciplina <- sistema.listaDisciplinasDoCurso()){
            <tr>
                    <td >@disciplina.getNome()</td>
                    <td >@disciplina.getNumeroDeCreditos()</td>
                    <td >@disciplina.getPreRequisitos()</td>                
            </tr>
        }
    </table>
	</div>
	</right>
	
	<div id="periodosAnteriores">
	@if(sistema.getPeriodosAnteriores().size() != 0) {
		<br>
			<nome> Periodos Anteriores</nome>
		<br>
			@for(periodo <- sistema.getPeriodosAnteriores()){	
				@for(disciplina <- periodo.disciplinasAlocadas()){
					<div id="c1" class="coluna">
					<div class="disciplina">
						<nome>@disciplina.getNome() </nome>
						<descricao> ---- @disciplina.getNumeroDeCreditos() creditos</descricao>
					</div>
					</div>
				}
			    <nome> Total de créditos: @sistema.numeroDeCreditosDoPeriodo(sistema.getPeriodosAnteriores().indexOf(periodo)+1)</nome>
			}
		<br>
	}
	</div>
</div>
}
